apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
  labels:
    app: {{ .Chart.Name }}
data:
  app.name: {{ .Values.env.APP_NAME | quote }}
  environment: {{ .Values.env.ENV | quote }}
