apiVersion: apps/v1
kind: Deployment
metadata:
 name: {{ include "mychart.fullname" . }}
spec:
 replicas: 1
 selector:
   matchLabels:
     app: {{ include "mychart.name" . }}
 template:
   metadata:
     labels:
       app: {{ include "mychart.name" . }}
   spec:
      containers:
      - name: aws-nuke
        image: debian:stable-slim
        command: ["/bin/sh", "-lc"]
        args:
          - |
            set -euo pipefail
            apt-get update
            apt-get install -y --no-install-recommends ca-certificates curl tar
            rm -rf /var/lib/apt/lists/*

            echo "Config file:"
            ls -l /etc/config
            cat /etc/config/aws-nuke.yaml

            # Scarica aws-nuke (SCEGLI l'architettura giusta: amd64 è la più comune su EKS)
            VER="v3.62.2"
            ARCH="amd64"
            curl -fsSL "https://github.com/ekristen/aws-nuke/releases/download/${VER}/aws-nuke-${VER}-linux-${ARCH}.tar.gz" \
              | tar -xz

            chmod +x aws-nuke

            echo "Running aws-nuke in DRY RUN mode..."
            ./aws-nuke run --config /etc/config/aws-nuke.yaml --no-dry-run=true
        volumeMounts:
        - name: config
          mountPath: /etc/config
          readOnly: true
      volumes:
      - name: config
        configMap:
          name: aws-nuke-config
