apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkwarden
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkwarden
  template:
    metadata:
      labels:
        app: linkwarden
    spec:
      containers:
      - name: linkwarden
        image: ghcr.io/linkwarden/linkwarden:latest
        ports:
        - containerPort: 3000
        env:
        - name: DATABASE_URL
          value: "demodb.chcius8cy3f4.eu-west-1.rds.amazonaws.com:5432/?Action=connect&DBUser=postgres&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIARE2G62BG2RWBIRII%2F20260224%2Feu-west-1%2Frds-db%2Faws4_request&X-Amz-Date=20260224T143442Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEC8aCWV1LXdlc3QtMSJHMEUCIQD4Ou5H6%2B6pgDkIsTeWdGFuBZbEXfKdWyue%2BklEUnljMAIgcXB2dr%2Fl%2B1uyR8MMkekyBlL1hw%2F6delZrOHf1Ws9xCsq0QQI%2BP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwwNzkwNjg4NDQxMDkiDJ%2Fy1EfQBegDyKZfOSqlBILRN9la5FnI1krSYZ%2FJVG1AG9%2BSqv6X5%2F7rGtjCKd5AhTiX96ot%2FAUhjuxWsfB3AyygQs1X6GsxdOoQKNrO1kFSbVdBkdqULuWRIb9hXg5o4FgUhSFjc%2B5vlMiXntnPbtAoVtwYiFRRrZt4Gw2WDq9y7QDZs%2FLSHxzQhBauXQnuIBpZQPp5QEfLOpnzIU%2BDAtWYCJC1sqrF7WMrwrhMte2fHp8Rew%2BcrDJo%2BKO5HD1%2FFCt8KxVOifKbHcL1AmEE8P1MStVAKPbV%2B%2F9TvyuK20FxZBXIIepkx%2FOdpocdehkeE%2F7XJjiQkDRbrk83Sn8RPi3H13CbNwT2AFK69IPVdVQGqSTK10g0tmi78zzUcdX2siI5SUZ8lm2r2mz%2BOHUn%2FuL97S%2BqMIFGceghaK2lj2%2BGQ0qMuSwL%2BflS3gBfkEsSZ%2BXIv89Zng5vGr4E4NIb0TtXY4zDDpLR9MmZ3eFe%2BJxFh791g2m1d6DC2LoOq6tmqwHjz1o6w7YMKQFKD13X55HnZQuBvJVgvFlTX07KBfZVur%2BIflHAgMj8TjOs8QaDAb4Hy9VcukLjrwlGW3byM3XpjCIbGKK3XTLe%2BnPXmWaDuSGMVGEyDcyoMmcO4EKjTOUyfZzSTr55c5henbpRUmo8h182Dsrg9uTo8FU8VwbCutXbmPSpur6qSuq8CaQqbC3pLT9e8On54DGiQdgPcGVbGDSp9cmddqKjnI6fy8Mmj%2BhNkjDfmPbMBjqSAiovtJIXDxHpljzA0q5dbb4Y7EJOAaT3TkFTKcZn%2BZGQIVl0%2Fx3gZJY2fDzFP1brMQsQ1eHcJM9GfmuY0gDRRd2iHa9gcMt7ihPLonAnnLrWhdv4ZYoCTXlhwOF6UtlKllleCTJ86G6VD%2BSB1ihkTOl7Ke6pmNPAon3%2FH3dwnIaytwJSoblDfSOxPBXqgEFsWQsuu4tDs%2B4ghuNNWd918re%2FRgj3ZVVWgM4QzKgtc%2FtxevAYaQRiu1k9E8tgzQkL5NCQ2%2B8oAOuXbNPWToUX0MaTtAtvLDHraTpPhkUOLRHe1q8842F0S3mjJlmfl1kfvBw6qO0c5T1vEEn4Z6GztjD4WIReA1h6xA0snXJWoIyRi7Q%3D&X-Amz-Signature=031c67fd3f4507ab524c46d63330ee8dce54910d399d1c8c0cec5e0c69abd112&X-Amz-SignedHeaders=host"
        - name: NEXTAUTH_SECRET
          value: VSUdiVQnXEKxLk3zYQWc1ZDQArOVLk6M9hoFL/h4XEE=
        - name: NEXTAUTH_URL
          value: "http://your-loadbalancer-url:3000/api/v1/auth"
