apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkwarden
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkwarden
  ports:
    - protocol: TCP
      port: 80      
      targetPort: 3000
  template:
    metadata:
      labels:
        app: linkwarden
    spec:
      containers:
      - name: linkwarden
        image: ghcr.io/linkwarden/linkwarden:latest
        ports:
        - containerPort: 3000
        env:
        - name: DATABASE_URL
          value: "postgresql://postgres:password_segreta@postgres-service:5432/linkwarden"
