apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkwarden
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkwarden
  template:
    metadata:
      labels:
        app: linkwarden
    spec:
      containers:
      - name: linkwarden
        image: ghcr.io/linkwarden/linkwarden:latest
        ports:
        - containerPort: 3000
        env:
        - name: DATABASE_URL
          value: "postgresql://postgres:Camello24RosaIbiza@database-1.chcius8cy3f4.eu-west-1.rds.amazonaws.com:5432/linkwarden"
        - name: NEXTAUTH_SECRET
          value: "genera-una-stringa-casuale-lunga-almeno-32-caratteri"
        - name: VSUdiVQnXEKxLk3zYQWc1ZDQArOVLk6M9hoFL/h4XEE=
          value: "http://your-loadbalancer-url:3000/api/v1/auth"
