apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkwarden
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkwarden
  template:
    metadata:
      labels:
        app: linkwarden
    spec:
      containers:
        postgres:
        image: postgres:16-alpine
        env_file: .env
        restart: always
        volumes:
          - ./pgdata:/var/lib/postgresql/data
        linkwarden:
          env_file: .env
          environment:
            - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres
          restart: always
          # build: . # uncomment to build from source
          image: ghcr.io/linkwarden/linkwarden:latest # comment to build from source
          ports:
            - 3000:3000
          volumes:
            - ./data:/data/data
          depends_on:
            - postgres
            - meilisearch
        meilisearch:
          image: getmeili/meilisearch:v1.12.8
          restart: always
          env_file:
            - .env
          volumes:
            - ./meili_data:/meili_data
