apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  template:
    spec:
      containers:
      - name: postgres
        image: postgres:16-alpine
        volumeMounts:
        - name: pg-storage 
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: pg-storage 
