apiVersion: v1
kind: Service
metadata:
  name: linkwarden-service
  namespace: default
spec:
  selector:
    app: linkwarden
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
    nodePort: 30080
  type: NodePo
